@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply font-poppins;
}

.blue-btn {
  @apply bg-lightBlue px-[40px] py-[20px]  m-[10px] rounded-[100px] font-semibold;
}

h1,
img,
p {
  z-index: 1;
}

.flex-center {
  @apply flex items-center justify-center;
}

.hallow-btn {
  @apply px-[60px] py-[20px] border border-black m-[10px] rounded-[100px] font-semibold;
}

.big-font {
  @apply text-lightBlue opacity-30;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Medium.ttf") format("truetype");
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: "Poppins";
  src: url("./assets/fonts/Poppins/Poppins-Bold.ttf") format("truetype");
  font-weight: 700;
  font-style: normal;
}
